
body{
    background-image: url(img/rua-25-de-marco-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: hidden;
    Opacity: 0.3;
}
.corona1{
    width: 50px;
    height: 50px;
}
.corona2{
    width: 70px;
    height: 70px;
}
.corona3{
    width: 90px;
    height: 90px;
}
.ladoA{
    transform: scaleX(1);
}
.ladoB{
    transform: scaleX(-1);
}
.painel{
    position: absolute;
    width: 190px;
    padding: 10px;
    left:0px;
    bottom:0px;
    border-top: solid 1px #fff;
    background-color: #fff;
    opacity: 0.7;
}
.vidas{
    float: left;
}
.cronometro{
    float: left;
    font-size: 20px;
    font-weight: bold;
}